**Mini Project**

In [ ]:
#Reading the  csv file
df="/makeSenseOfCensus.csv"

In [ ]:
data = np.genfromtxt(df, delimiter=",", skip_header=1)
data.shape

(1000, 8)

In [ ]:
#type of our data
type(data)

numpy.ndarray

In [ ]:
#defining a new record to insert into our data
new_record=np.array([[50,9,4,1,0,0,40,0]])
new_record

array([[50,  9,  4,  1,  0,  0, 40,  0]])

In [ ]:
#Concatenating the record to dataset
data_u=np.concatenate((data,new_record))

In [ ]:
#Storing the ages from age column in age variable
age=data_u[ : ,0]

In [ ]:
age

array([39., 50., 38., ..., 40., 39., 50.])

In [ ]:
#The maximum age in the data
max_age=age.max()
int(max_age)

90

In [ ]:
#The minimum age in the data
min_age=age.min()
int(min_age)

17

In [ ]:
age_mean=age.mean()
int(age_mean)

38

In [ ]:
age_sd=age.std()
age_sd

13.341478176165857

Storing the races of people as follows: 

---


race:
Person's race 

---



---


0 - Amer-Indian-Eskimo
1 - Asian-Pac-Islander
2 - Black
3 - Other
4 - White

In [ ]:
#race_0 represents Amer_Indian_Eskimo
race_0=data_u[data_u[ : ,2]==0]

In [ ]:
#race_1 represents Asian_Pac_Islander
race_1=data_u[data_u[ : ,2]==1]

In [ ]:
#race_2 represents Black
race_2=data_u[data_u[ : ,2]==2]

In [ ]:
#race_3 represents Others
race_3=data_u[data_u[ : ,2]==3]

In [ ]:
#race_4 represents White
race_4=data_u[data_u[ : ,2]==4]

In [ ]:
#len_0 represents number of people belonging to Amer_Indian_Islander Race
len_0=len(race_0)
len_0

10

In [ ]:
#len_1 represents number of people belonging to Asian_Pac_Islander Race
len_1=len(race_1)
len_1

27

In [ ]:
#len_2 represents number of people belonging to Black Race
len_2=len(race_2)
len_2

110

In [ ]:
#len_3 represents number of people belonging to Others Race
len_3=len(race_3)
len_3

6

In [ ]:
#len_4 represents number of people belonging to White Race
len_4=len(race_4)
len_4

848

As we can see the value of len_3 = 6 is the minimum, So, People of Other's race are the minorities

In [ ]:
#Storing the number of people that belong to minority in minority_race variable
minority_race=len_3

In [ ]:
#People who are above the age 60 are stored in senior_citizens variable
senior_citizens=data_u[age>60]

In [ ]:
#Getting to know the sum of the working hours of senior citizens
working_hours_sum=sum(senior_citizens[ : ,6])

In [ ]:
working_hours_sum

1917.0

In [ ]:
#Number of senior citizens
senior_citizens_len=len(senior_citizens)
senior_citizens_len

61

There are 61 senior citizens

In [ ]:
#The average working hours of senior citizens per week
avg_working_hours=working_hours_sum/senior_citizens_len

In [ ]:
int(avg_working_hours)

31

Average number of working hours per week for senior citizens turn out to be 31

As we know that number of hours allowed to work per week are 25 for senior citizens , So we can say that they are not following the guidelines

In [ ]:
#Here people who have more than 10 years of education are stored in high variable
high=data_u[data_u[ : ,1]>10]

In [ ]:

len(high)

327

In [ ]:
#Here people who have less than 10 years of education are stored in low variable
low=data_u[data_u[ : ,1]<10]

In [ ]:
len(low)

449

In [ ]:
#Average income of people with more than 10 years of education
avg_pay_high=high[ : ,7]
avg_pay_high.mean()

0.42813455657492355

In [ ]:
#Average income of people with less than 10 years of education
avg_pay_low=low[ : ,7]
avg_pay_low.mean()

0.12694877505567928

Income: Annual Income of the person

---


0 : Less than or equal to 50K

---



---


1 : More than 50K